<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alphabet">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Alphabet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alphabetChallenge">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Challenge
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phrases">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Phrases
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
